---
layout: default
title: Home
---

<article>
  <a href="coraal">
    <div class="featured-post" style="background-image:url(https://oraal.github.io/assets/img/grouptalking.jpg)">
      <h2><span>The Corpus of Regional African American Language (CORAAL)</span></h2>
    </div>
  </a>
</article>


  <article>
  <a href="about-aal">
    <div class="featured-post" style="background-image:url(https://oraal.github.io/assets/img/MarchingFlagsHeritageDay.jpg)">
      <h2><span>Information about AAL</span></h2>
    </div>
  </a>
</article>


  <article>
  <a href="research">
    <div class="featured-post" style="background-image:url(https://oraal.github.io/assets/img/SeaIslandDinersHeritageDayFest.jpg)">
      <h2><span>Research Resources</span></h2>
    </div>
  </a>
</article>


  <article>
  <a href="education">
    <div class="featured-post" style="background-image:url(https://oraal.github.io/assets/img/twokids.jpg)">
      <h2><span>Education Resources</span></h2>
    </div>
  </a>
</article>


<article>
  <a href="glossary">
    <div class="featured-post" style="background-image:url(https://oraal.github.io/assets/img/glossary-750x500.JPG)">
      <h2><span>Glossary of Terms</span></h2>
    </div>
  </a>
</article>


  <article>
  <a href="about">
    <div class="featured-post" style="background-image:url(https://oraal.github.io/assets/img/PerfTradeverydayperformance.jpg)">
      <h2><span>About the Online Resources for African American Language Project</span></h2>
    </div>
  </a>
</article>

